body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #AED2F9;
    padding: 8px 8px 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 85px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    font-weight: 650;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.nav-link:hover {
    background-color: #2980b9;
}

.search-bar input {
    padding: 6px; 
    border: none;
    border-radius: 4px;
    background-color: aliceblue;
    
}

i {
   font-size: 26px;
   
}

.admin-photo {
    margin-left: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.admin-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background-color: #AED2F9;
    font-weight: 100;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;


}

.dropdown-content {
    padding: auto;
    font-weight: 400;
}


.dropdown-item {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    margin-bottom: 8px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
   
}
.dropdown-item i {
    font-size: 15px; 
    margin-right: 5px;
}

.dropdown-item:hover {
    background-color: #2980b9;
}



.circle-menu:hover .dropdown {
    display: block;
}

.circle-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-info {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.admin-name {
    margin: 0; 
    display: inline-flex;
    align-items: center;
    font-weight: 800;
    font-style: italic;
}

.admin-symbol {
    font-size: 1.2em; 
    margin-left: 5px; 
}

.admin-info img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    margin-right: 5px; 
    justify-content: center;
   
}


.search-bar {
    margin-left: auto; 
    margin-right: 20px; 
}